*{
    margin: 0px;
    padding: 0px;
}
.uploadFile {
    text-align: center;
    margin-top: 4px;
    position: relative;
    z-index: 999;
}

.modifySize button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    position: relative;
    height: 500px;
    width: 400px;
    background-color: gray;
    top: 0%;
    left: 35%;
    transform: translate(-29%, -6%);
}
.grayWhiteBackground{
    overflow: hidden;
    background-color: green;
    background-image: linear-gradient(314deg, green 0green 74%);
    
    
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.logoArea {
    width: 137px;
    position: relative;
    top: -4%;
    left: -7%;
}
.grayWhiteBackground .explain{
    font-size: 22px;
}
.grayWhiteBackground .explain button {
    font-size: 16px;
    /* padding: 4px; */
    margin-top: 10px;
    padding: 6px 7px;
    /* color: yellow; */
    color: black;
    /* font-weight: bold; */
}
.Date {
    position: relative;
    top: 5%;
    color: black;
    font-weight: bolder;
    font-size: 12px;
    font-family: monospace;
}
.trinagle {
    border-top: 90px solid transparent;
    border-bottom: 106px solid transparent;
    border-right: 130px solid rgb(128, 0, 0);
    position: relative;
    top: -58%;
    left: 10%;
}
.logoArea img {
    width: 100%;
}

.redBackground{
    position: relative;
    height: 300px;
    width: 100%;
    background-color:darkgreen;

    
    
    /* background-color: #166d3b;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%); */
    background-size: cover;
    background-position: center;
}
.redBackground .display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 348px;
    width: 93%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
}
.redBackground .display img {
    min-height: 85%;
    max-height: 100%;
    border-radius: 8px 60px 8px 60px;
    min-width: 85%;
    max-width: 100%;
}
.redBackground .title {
    margin: auto;
    position: absolute;
    top: 65%;
    width: 100%;
}
.redBackground .title h2 {
    color: white;
    font-family: 'Lucida Sans',sans-serif;
    font-size: 24px;
    text-align: center;
    background-color:#556;
    --pattern-size: 5rem;
    background:
      linear-gradient(to bottom, #0000, #000c),
      linear-gradient(to bottom right, #fff1 50%, transparent 50%),
      linear-gradient(to bottom left, #fff1 50%, transparent 50%),
      #333;
    background-size: cover, var(--pattern-size) var(--pattern-size), var(--pattern-size) var(--pattern-size), cover;
    background-position: top center;
    width: 100%;
    padding: 3px 0px 2px 0px;
}
.container .details {
    position: absolute;
    bottom: 0%;
    right: 0%;
    background: yellow;
    padding: 3px 6px 3px 7px;
    border-radius: 5%;
}