*{
    margin: 0px;
    padding: 0px;
}
.uploadFile {
    text-align: center;
    margin-top: 4px;
    position: relative;
    z-index: 999;
}

.modifySize button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    position: relative;
    height: 500px;
    width: 400px;
    background-color: gray;
    top: 0%;
    left: 35%;
    transform: translate(-29%, -6%);
    margin-bottom: 40px;
}
.grayWhiteBackground{
    overflow: hidden;
    background-color: #63a91f;
    background-image: linear-gradient(314deg, #63a91f 0%, #1a512e 74%);
    
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.grayWhiteBackground .logoArea {
    width: 30%;
    position: relative;
    top: 47%;
    left: 2%;
    scale: 2;
    z-index: 999;
}
.grayWhiteBackground .explain{
    font-size: 22px;
}
.grayWhiteBackground .explain button {
    font-size: 13px;
    /* padding: 4px; */
    margin-top: 21px;
    padding: 6px 7px;
    /* color: yellow; */
    color: black;
    /* font-weight: bold; */
    border-radius: 8px;
    border: 3px solid gold;
    margin-left: 23px;
}
.Date {
    position: relative;
    top: 5%;
    color: black;
    font-weight: bolder;
    font-size: 12px;
    font-family: monospace;
    background-color: rgb(112, 3, 107);
    padding: 0px 3px 0px 4px;
    color: white;
}
.trinagle {
    border-top: 90px solid transparent;
    border-bottom: 106px solid transparent;
    border-right: 130px solid rgb(128, 0, 0);
    position: relative;
    top: -58%;
    left: 10%;
}
.logoArea img {
    width: 100%;
}

.redBackground{
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #015d00;
    background-image: linear-gradient(314deg, #015d00 0%, #04bf00 74%);
    
    
    
    /* background-color: #166d3b;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%); */
    background-size: cover;
    background-position: center;
}
.redBackground .display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 348px;
    width: 93%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
}
.redBackground .display img {
    min-height: 85%;
    max-height: 100%;
    border-radius: 60px 10px 60px 10px;
    min-width: 85%;
    max-width: 100%;
}
.redBackground .title {
    margin: auto;
    position: absolute;
    top: 65%;
    width: 100%;
}
.redBackground .title h2 {
    color: white;
    font-family: 'Lucida Sans',sans-serif;
    font-size: 24px;
    text-align: center;
    background-color: #556;
    --pattern-size: 5rem;
    background: linear-gradient(to bottom, #0000, #000c),
      linear-gradient(to bottom right, #fff1 50%, transparent 50%),
      linear-gradient(to bottom left, #fff1 50%, transparent 50%),
      #333;
    background-size: cover, var(--pattern-size) var(--pattern-size), var(--pattern-size) var(--pattern-size), cover;
    background-position: top center;
    width: 100%;
    padding: 3px 0px 2px 0px;
    color: yellow;
}
.container .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    /* background: yellow; */
    /* padding: 0px 0px 0px 0px; */
    border-radius: 5%;
    align-items: center;
    font-size: 13px;
    font-family: sans-serif;
}
.container .details p {
    background-color: rgb(112, 3, 107);
    padding: 0px 6px 0px 6px;
    color: white;
}
.date{

}